.login {
    display: flex;
}

.login-img {
    width: 50%;
    height: 100vh;
}

.login-form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-form__container {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 2rem;
}

.login-form__img {
    width: 100%;
    text-align: center;
}

.login-form__logo {
    width: 120px;
    height: 80px;
    object-fit: contain;
}

.login-form h3 {
    font-size: 14px;
    color: #090937;
}

.login-form__inputs {
    display: flex;
    flex-direction: column;
}

.login-form__inputs input {
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F4F4FF;
    border: none;
    outline: none;
    margin: 10px 0px;
}

.password-input {
    margin-bottom: 0px !important;
}

.login-remember {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-form__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form__buttons button {
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: .2s ease-in-out;
    font-weight: 600;
}

.login-form__buttons button:first-child {
    background-color: #EF6B4A;
    color: white;
}

.login-form__buttons button:first-child:hover {
    background-color: #f44e24;
}

.login-form__buttons button:last-child {
    border: 2px solid #6251DD;
    color: #6251DD;
}

.login-form__buttons button:last-child:hover {
    background: #6251DD;
    color: white;
}